{% extends 'curso/layout.html' %}

{% block content %}
    <ul>


    {% for area in areascientificas %}
        <h2>{{ area }}</h2>
        {% if request.user.is_authenticated %}
            <a href="{% url 'cursoapp:novo_disciplina' area.id %}">
                <button>Inserir nova Disciplina nesta Area Cientifica</button>
            </a>
        {% endif %}
        <p></p>
        {% for disciplina in area.disciplinas.all %}
            <h3>{{ disciplina }}</h3>
            <p></p>
            <p>Ano: {{ disciplina.ano }}</p>
            <p>Semestre: {{ disciplina.semestre }}</p>
            <p>ects: {{ disciplina.ects }}</p>
            <p>code: {{ disciplina.curricularIUnitReadableCode }}</p>
            <p>area cientifica: {{ disciplina.area_cientifica }}</p>
            <ul>
                {% for projeto in disciplina.projetos.all %}
                    <li>
                        <a href="{% url 'cursoapp:projeto' projeto.id %}"><button>{{ projeto }}</button></a>
                    </li>
                {% endfor %}
            </ul>
            <p></p>
            {% if request.user.is_authenticated %}
                <a href="{% url 'cursoapp:novo_projeto' disciplina.id %}">
                    <button>Inserir novo projeto nesta Disciplina</button>
                </a>
                <p></p>
                <a href="{% url 'cursoapp:apaga_disciplina' disciplina.id %}">
                    <button>Apagar Disciplina e tudo relacionado com ela</button>
                </a>
                <p></p>
                <a href="{% url 'cursoapp:edita_disciplina' disciplina.id %}">
                    <button>Editar informação da disciplina</button>
                </a>
            {% endif %}
        {% endfor %}
        {% if request.user.is_authenticated %}
            <p>____________</p>
            <a href="{% url 'cursoapp:edita_area' area.id %}">
                <button>Editar informação da Area Cientifica</button>
            </a>
            <p>____________</p>
            <a href="{% url 'cursoapp:apaga_area' area.id %}">
                <button>Apagar Area Cientifica e tudo relacionado com ela</button>
            </a>
        {% endif %}
    {% endfor %}
    <p></p>
    {% if request.user.is_authenticated %}
        <a href="{% url 'cursoapp:nova_area_cientifica' %}">
            <button>Inserir nova area cientifica</button>
        </a>
    {% endif %}


    </ul>
{% endblock %}