<!DOCTYPE html>
<html>
<head>
    <title>Prometheus</title>
    <style>
        body {
            background-color: #1F292E;
        }
        a {
            color: white; /* Definindo a cor do texto do link como branco */

        }
    </style>
</head>
<body>
    <div style="text-align: center;">
        <p style="color: white;">Prometheus Sotarks map</p>
        <p style="color: white;">tentativa de imagem com hyper link e video</p>
        <p style="color: white;">click for hiper-link ↓</p>
        <a href="https://osu.ppy.sh/beatmapsets/1795606#osu/3680704" target="_blank">
            <img src="/home/a22203987/ficha4/static/images/infBeatMap.png" style="display: block; margin: 0 auto;">
        </a>
        <p></p>
        <video src="/home/a22203987/ficha4/static/media/prometheus.mp4" controls autoplay style="display: block; margin: 0 auto;"></video>
        <p></p>
        <nav>
            <a href="{% url 'osu:home' %}">Home</a>
        </nav>

    </div>
    <footer>
        <p style="color: white;">&copy;a22203987 Ricardo Borges</p>
    </footer>
</body>
</html>