<!DOCTYPE html>
<html>
<head>
    <title>Center text</title>
    <style>
        body {
            background-color: #1F292E;
        }
    </style>
</head>
<body>
    <div style="text-align: center;">
        <p style="color: white;">Prometheus Sotarks map</p>
        <p style="color: white;">click for hiper-link ↓</p>
        <a href="https://osu.ppy.sh/beatmapsets/1795606#osu/3680704" target="_blank">
            <img src="infMapLogo.png" alt="Centered Image" style="display: block; margin: 0 auto;">
        </a>
        <p></p>
        <video src="video.mp4" controls autoplay style="display: block; margin: 0 auto;"></video>
    </div>
    <footer>
        <p style="color: white;">&copy;a22203987 Ricardo Borges</p>

    </footer>

</body>
</html>